*,
*::after,
*::before {
  margin: 0;
  box-sizing: inherit;
  padding: 0;
}
@font-face {
  src: url(../fonts/B_Yekan/Yekan.ttf);
  font-family: font-main;
}
@font-face {
  src: url(../fonts/Far_Nazanin/Far_Nazanin.ttf);
  font-family: font-header;
}
@font-face {
  src: url(../fonts/Far_Diplomat/Far_Diplomat.ttf);
  font-family: font-text;
}
@font-face {
  src: url(../fonts/IranNastaliq/IranNastaliq.ttf);
  font-family: font-nastaliq;
}
@font-face {
  src: url(../fonts/Suls-mir-emad/Suls.ttf);
  font-family: font-nastaliq-2;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include res(height-650) {
    font-size: 55%;
  }
  @include res(500) {
    font-size: 58%;
  }
  @include res(360) {
    font-size: 55%;
  }
}

body {
  font-family: sans-serif;
  direction: rtl;
}

::selection {
}

// pages
.page {
  display: grid;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl;
  backdrop-filter: blur(2px);

  background: linear-gradient(
      to left,
      rgba(#1c2f5fa8, 0.7),
      rgba(#1c2f5fa8, 0.7)
    ),
    url(../img/6.jpg) no-repeat;
  &-main {
    animation: move 0.5s ease-out;
  }

  &-forgot--signup {
  }
}
